In [ ]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.87-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.6 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.87

In [ ]:
import yfinance as yf

infosys = yf.Ticker("MSFT")

In [ ]:
print(infosys.recommendations)

                                   Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00      Argus Research            Buy                up
2012-03-19 14:00:00      Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00      Morgan Stanley     Overweight              main
2012-04-03 11:53:00                 UBS            Buy              main
2012-04-20 06:18:00       Deutsche Bank            Buy              main
...                                 ...            ...        ...    ...
2022-10-26 12:58:51      Wolfe Research     Outperform              main
2022-10-26 13:25:50  Evercore ISI Group     Outperform              main
2022-10-26 13:28:29         BMO Capital     Outperform              main
2022-10-27 11:14:36          Rosenblatt            Buy              main
2022-11-02 10:29:21           Macquarie        Neutral              init

[424 rows x 4 columns]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = infosys.recommendations
df.head()x

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main

In [ ]:
df = pd.read_csv('Recommendation.csv')
df.head()

,Date,Firm,To Grade,From Grade,Action,news,news1
0,2012-03-16 08:19:00,Argus Research,Buy,NaN,up,China has reportedly cut two-thirds of TV ente...,"'In November 2005, a US marine squad killed 24..."
1,2012-03-19 14:00:00,Hilliard Lyons,Long-Term Buy,NaN,main,US Threatened To Blacklist Spain For Not Imple...,Armed commandos will protect India's tigers
2,2012-03-22 07:03:00,Morgan Stanley,Overweight,NaN,main,Iran Is Now Gearing Up For Its 'Greatest Warga...,"Damascus bomber kills 25, 46 wounded"
3,2012-04-03 11:53:00,UBS,Buy,NaN,main,Over Half of Germany's Renewable Energy Owned ...,"Stephen Hawking, unable to deliver 70th birthd..."
4,2012-04-20 06:18:00,Deutsche Bank,Buy,NaN,main,Australia Tells Japan Whalers to Stay Out of i...,Top German cop installed spyware on his daught...

In [ ]:
df = df.drop(['From Grade','Action'],axis=1)
df.head()

,Date,Firm,To Grade,news,news1
0,2012-03-16 08:19:00,Argus Research,Buy,China has reportedly cut two-thirds of TV ente...,"'In November 2005, a US marine squad killed 24..."
1,2012-03-19 14:00:00,Hilliard Lyons,Long-Term Buy,US Threatened To Blacklist Spain For Not Imple...,Armed commandos will protect India's tigers
2,2012-03-22 07:03:00,Morgan Stanley,Overweight,Iran Is Now Gearing Up For Its 'Greatest Warga...,"Damascus bomber kills 25, 46 wounded"
3,2012-04-03 11:53:00,UBS,Buy,Over Half of Germany's Renewable Energy Owned ...,"Stephen Hawking, unable to deliver 70th birthd..."
4,2012-04-20 06:18:00,Deutsche Bank,Buy,Australia Tells Japan Whalers to Stay Out of i...,Top German cop installed spyware on his daught...

In [ ]:
df['over_allnews'] = df[["news", "news1"]].apply(" ".join, axis=1)

In [ ]:
df = df.drop(['news','news1'],axis=1)
df.head()

,Date,Firm,To Grade,over_allnews
0,2012-03-16 08:19:00,Argus Research,Buy,China has reportedly cut two-thirds of TV ente...
1,2012-03-19 14:00:00,Hilliard Lyons,Long-Term Buy,US Threatened To Blacklist Spain For Not Imple...
2,2012-03-22 07:03:00,Morgan Stanley,Overweight,Iran Is Now Gearing Up For Its 'Greatest Warga...
3,2012-04-03 11:53:00,UBS,Buy,Over Half of Germany's Renewable Energy Owned ...
4,2012-04-20 06:18:00,Deutsche Bank,Buy,Australia Tells Japan Whalers to Stay Out of i...

In [ ]:
df1 = pd.get_dummies(df['To Grade'])
df = pd.concat([df,df1],axis=1)
df = df.drop(['To Grade'],axis=1)
df.head()

,Date,Firm,over_allnews,Buy,Equal-Weight,Hold,Long-Term Buy,Market Perform,Neutral,Outperform,Overweight,Perform,Sector Perform,Sell,Strong Buy,Underperform,Underweight
0,2012-03-16 08:19:00,Argus Research,China has reportedly cut two-thirds of TV ente...,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2012-03-19 14:00:00,Hilliard Lyons,US Threatened To Blacklist Spain For Not Imple...,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,2012-03-22 07:03:00,Morgan Stanley,Iran Is Now Gearing Up For Its 'Greatest Warga...,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,2012-04-03 11:53:00,UBS,Over Half of Germany's Renewable Energy Owned ...,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,2012-04-20 06:18:00,Deutsche Bank,Australia Tells Japan Whalers to Stay Out of i...,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
x = df.iloc[:,2]
x

0      China has reportedly cut two-thirds of TV ente...
1      US Threatened To Blacklist Spain For Not Imple...
2      Iran Is Now Gearing Up For Its 'Greatest Warga...
3      Over Half of Germany's Renewable Energy Owned ...
4      Australia Tells Japan Whalers to Stay Out of i...
                             ...
419    36 hours before the Australian election and in...
420    New documentary shows how televangelist Pat Ro...
421    Norway Has More Money Than It Knows What To Do...
422    Syria accepts Russian chemical weapons proposa...
423    Woah - enough water found underground in Kenya...
Name: over_allnews, Length: 424, dtype: object

In [ ]:
y = df.iloc[:,3:]
y

,Buy,Equal-Weight,Hold,Long-Term Buy,Market Perform,Neutral,Outperform,Overweight,Perform,Sector Perform,Sell,Strong Buy,Underperform,Underweight
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
419,0,0,0,0,0,0,1,0,0,0,0,0,0,0
420,0,0,0,0,0,0,1,0,0,0,0,0,0,0
421,0,0,0,0,0,0,1,0,0,0,0,0,0,0
422,1,0,0,0,0,0,0,0,0,0,0,0,0,0
423,0,0,0,0,0,1,0,0,0,0,0,0,0,0

In [ ]:
x=x.str.lower()

In [ ]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

p=PorterStemmer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
for i in range(0,len(x)):
  a=re.sub('[^a-z]',' ',str(x[i]))
  a=a.split()
  words=[]
  for j in a:
    if j not in stopwords.words('english'):
      words.append(p.stem(j))
  words=' '.join(words)
  x[i]=words

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(x).toarray()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X_tfidf = vectorizer.fit_transform(x).toarray()

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kf = KFold(n_splits=2)

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
gaussian=cross_val_score(GaussianNB(),X,y,cv=kf)

In [ ]:
print(np.mean(gaussian))

0.4984545454545455

In [ ]:
multinomial=cross_val_score(MultinomialNB(),X,y,cv=kf)

In [ ]:
print(np.mean(multinomial))

0.5869090909090909

In [ ]:
bernoulli=cross_val_score(BernoulliNB(),X,y,cv=kf)

In [ ]:
print(np.mean(bernoulli))

0.6013333333333333

In [ ]:
decisiontree=cross_val_score(DecisionTreeClassifier(),X,y,cv=kf)

In [ ]:
print(np.mean(decisiontree))

0.7107777777777777

In [ ]:
gaussian_tfidf=cross_val_score(GaussianNB(),X_tfidf,y,cv=kf)
multinomial_tfidf=cross_val_score(MultinomialNB(),X_tfidf,y,cv=kf)
bernoulli_tfidf=cross_val_score(BernoulliNB(),X_tfidf,y,cv=kf)
decisiontree_tfidf=cross_val_score(DecisionTreeClassifier(),X_tfidf,y,cv=kf)

In [ ]:
print(np.mean(gaussian_tfidf))
print(np.mean(multinomial_tfidf))
print(np.mean(bernoulli_tfidf))
print(np.mean(decisiontree_tfidf))

0.5036666666666667
0.5005555555555555
0.6013333333333333
0.6427777777777778
0.696

In [ ]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train, y_test = train_test_split(X, y,test_size=0.33, random_state=0)

In [ ]:
from sklearn import svm
svm=svm.SVC(kernel='rbf')
svm.fit(X_train,y_train)

SVC()

In [ ]:
y_pred=svm.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7041322314049587

In [ ]:
from sklearn.ensemble import RandomForestClassifier
random_forest = RandomForestClassifier(max_depth=2, random_state=0)

In [ ]:
random_forest.fit(X_train,y_train)

RandomForestClassifier()

In [ ]:
y_pred=random_forest.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7630853994490359